<!-- html template for login and signup pages -->
<script id="login_template" type="text/x-handlebars-template">
    <h1>Login page</h1>
    <form method="post" id="login_form">
        <div><label>Email</label><input id="email" type="text" name="email"></div>
        <div><label>Password</label><input id="password" type="password" name="password"></div>
        <input type="submit">
    </form>
</script>

<script id="signup_template" type="text/x-handlebars-template">
    <h1>Signup page</h1>
</script>
