<!-- html template for login and signup pages -->
<script id="login_template" type="text/x-handlebars-template">
    <div class=tb-colors>
        <div class="color-yellow">&nbsp;</div>
        <div class="color-azur">&nbsp;</div>
        <div class="color-rosa">&nbsp;</div>
        <div class="color-teal">&nbsp;</div>
    </div>

    <div class="wrapper login-fix">
        <header class='login-hero'>
            <h4>Welcome to</h4>
            <object class="login-main-logo" id="logo" type="image/svg+xml" data="public/imgs/tinderbox-logo.svg">Your browser does not support SVGs</object>
            <h2>Volunteer app</h2>
        </header>

        <main>
            <form id="login_form" method="post">
                <div>
                    <input type="email" name="email" id="email" placeholder="Email address">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <a href="#">Forgot your password?</a>
                </div>
                <input type="submit" value="SIGN IN" class="submit">
            </form>
        </main>
        <footer>
            <p>Don't have an account?&nbsp;</p>
            <a href="signup.html">Register</a>
        </footer>
    </div>
</script>

<script id="signup_template" type="text/x-handlebars-template">
    <h1>Signup page</h1>
</script>
