/*
 ######   ######## ##    ## ######## ########     ###    ##
##    ##  ##       ###   ## ##       ##     ##   ## ##   ##
##        ##       ####  ## ##       ##     ##  ##   ##  ##
##   #### ######   ## ## ## ######   ########  ##     ## ##
##    ##  ##       ##  #### ##       ##   ##   ######### ##
##    ##  ##       ##   ### ##       ##    ##  ##     ## ##
 ######   ######## ##    ## ######## ##     ## ##     ## ########
*/

* {
    box-sizing: border-box;
    font-family: Brown;
}
/* reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of css reset */

html{
    overflow: auto;

}


html, body {

    color: $teal;
    background-color: $beige;
    height: 100%;
    font-size: 16px;

}

   .scrolling-disabled{
    top:0;
    bottom:0;
    right:0;
    left:0;
    position: fixed;
        margin:0 !important; height: 100% !important; overflow: hidden !important;
    }


main.content{
    margin-bottom: 3em;
}


a{
    text-decoration: none;
}



body.site {

    .wrapper{
        padding: 0 1em; //4%
    }

    .wrapper.wrapper-beige{
        background-color: $beige;
    }

    .wrapper.wrapper-yellow{
        background-color: $yellow;
        
    }

     .wrapper.wrapper-gradient-yellow-rosa{
        background: $yellow; /* Old browsers */
        background: -moz-linear-gradient(top, $yellow 0%, $rosa 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, $yellow 0%,$rosa 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, $yellow 0%,$rosa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$yellow, endColorstr=$rosa,GradientType=0 ); /* IE6-9 */
        
    }

     .wrapper.wrapper-gradient-rosa-yellow{
        background: $rosa; /* Old browsers */
        background: -moz-linear-gradient(top, $rosa 0%, $yellow 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, $rosa 0%,$yellow 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, $rosa 0%,$yellow 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$rosa, endColorstr=$yellow,GradientType=0 ); /* IE6-9 */
        
    }

    .wrapper.wrapper-color{
        background: url('../imgs/color-bg.jpg') no-repeat center center;
         -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        
    }

 

}

.wrapper {
    display: flex;
    flex-direction: column;
   // justify-content: space-between;

}

.content{
    display: flex;
    flex-direction: column;

}

.login-fix{
    $a: 100vh;
    $b: 5.625em; //tb-colors height + tb-colors margin
    min-height: -webkit-calc(#{$a} - #{$b});
    min-height:    -moz-calc(#{$a} - #{$b});
    min-height:         calc(#{$a} - #{$b});
}


.menu-logo{
       height: 7rem;
    margin: 1rem 0;
    max-width: 100%;
}

.logo-teal {
    fill: $teal;

}

.logo-beige {
    fill: $beige;
}

@mixin linx($decor, $link, $visit, $hover, $active) {
    a {
        text-decoration: $decor;
        color: $link;
        &:visited {
            color: $visit;
        }
        &:hover {
            color: $hover;
        }
        &:active {
            color: $active;
        }
    }
}


/*
##     ## ########    ###    ########  ######## ########
##     ## ##         ## ##   ##     ## ##       ##     ##
##     ## ##        ##   ##  ##     ## ##       ##     ##
######### ######   ##     ## ##     ## ######   ########
##     ## ##       ######### ##     ## ##       ##   ##
##     ## ##       ##     ## ##     ## ##       ##    ##
##     ## ######## ##     ## ########  ######## ##     ##
*/

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    background-color: $beige;
    color: $teal;
    //border-bottom: 1px solid $teal-b3;

    .fa-bars {
        cursor: pointer;
        color: $teal;
        z-index: 9999;

    }
    .top-nav-logo {
        width: 10%;
    }


}

/*
##     ## ######## ##    ## ##     ##
###   ### ##       ###   ## ##     ##
#### #### ##       ####  ## ##     ##
## ### ## ######   ## ## ## ##     ##
##     ## ##       ##  #### ##     ##
##     ## ##       ##   ### ##     ##
##     ## ######## ##    ##  #######
*/

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 999;

    .login-main-logo{
        height: 1.875rem;
    }

    .app-menu {
        background-color: $beige;
        position: relative;
        float: right;
        max-width: 400px;
        width: 90%;
        height: 100%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        -webkit-transform: translateX(+203%);
        transform: translateX(+203%);
        display: flex;
        flex-direction: column;
        align-items: center;
        will-change: transform;

        z-index: 999;
        pointer-events: auto;

        @include linx(none, $teal, $teal, $teal, $teal);

        > div {
            padding: 3%;
        }

        .menu-item {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0.750rem;
            &:nth-child(1) { color: $teal; }
            &:nth-child(2) { color: $rosa; }
            &:nth-child(3) { color: $azur; }
            &:nth-child(4) { color: $yellow; }
            &:nth-child(5) { color: $teal; }
        }

        .menu-profile{
             width: 100%;
             text-align: center;
             padding: 5.95rem 2rem;
             

                  background: url('../imgs/color-bg.jpg') no-repeat center center;
         -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
             
        }

        .image{

            display: flex;
            justify-content: center;


               img {
                     width: 3.5rem;
                     height: 3.5rem;
                     margin-bottom: 1rem;
                     
                    border: 3px solid $beige;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                     
                }
        }
       
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
        opacity: 0;
        will-change: opacity;
        pointer-events: none;
        transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
    }
}

.menu--visible {
    pointer-events: auto;

    .app-menu {
        -webkit-transform: none;
        transform: none;
    }

    &:after {
        opacity: 1;
        pointer-events: auto;
    }
}


.menu--animatable {
    .app-menu { transition: all 130ms ease-in; }
}

.menu--visible.menu--animatable  {
    .app-menu { transition: all 330ms ease-out; }
}


.main-nav {
    //flex:none;

    ul{
        border-top: 1px solid $teal-b3;
        display: flex;
        align-content: center;
        justify-content: space-around;
        list-style: none;

        height: 4em;
        width: 100%;
        background-color: $beige;

        position: fixed;
        bottom: 0;

        li{
            display: flex;
            align-items: center;

            text-align: center;
           // width: 20%; //could be 25 or maybe less

            a, a:hover, a:focus, a:active, a:visited{
                //line-height: 5em;
                display: block;
                color: $teal;
                text-decoration: none;
            }


            i{
                color: $teal;
            }


            .active{
                color: $rosa !important;
                i {color: $rosa !important;}
            }
        }
    }


}