.info-content {
  display: flex column;
  background-color: gray;
  justify-content: space-between;
}

.main-column1 {
  display: flex;
  padding: 58px;
  justify-content: space-between;
  background: #fff9f4;
  border-bottom:1px solid  #b6d9cf; 
  border-top:1px solid  #b6d9cf;
  text-align: center;
 }  
      .main-column1 article{
        border-radius: 15px;
        background: #043540;
        color: white;
        padding: 9px;
}

.main-column2 {
 display: flex;
 justify-content: space-between;
 padding: 55px;
 background: #fff9f4;
 border-bottom:1px solid  #b6d9cf;
 text-align: center;
}
        .main-column2 article{
          border-radius: 15px;
          background: #f08779;
          color: white;
          padding: 9px;
}

.main-column3 {
 display: flex;
 justify-content: space-between;
 padding: 55px;
 background: #fff9f4;
 border-bottom:1px solid  #b6d9cf;
 text-align: center;
}
        .main-column3 article{
         border-radius: 15px;
         background:  #8ac6b8;
         color: white;
         padding: 9px;
}

.main-column4 {
  display: flex;
  justify-content: space-between;
  padding: 55px;
  background: #fff9f4;
  border-bottom:1px solid  #b6d9cf;
  text-align: center;
}
        .main-column4 article{
         border-radius: 15px;
         background: #ffd961;
         color: white;
         padding: 9px;
}

.sidebar-one {

  float: right;
  height: 150px;
  width: 15px;
  background-color: #043540;
  
}

.sidebar-two {
  float: right;
  width: 15px;
  height: 144px;
  background-color: #f08779;
}

 .sidebar-three {
  float: right;
  width: 15px;
  height: 144px;
  background-color: #8ac6b8;
  

}
.sidebar-four {
  float: right;
  width: 15px;
  height: 144px;
  background-color: #ffd961;
  
}