/*
##        #######   ######   #### ##    ##
##       ##     ## ##    ##   ##  ###   ##
##       ##     ## ##         ##  ####  ##
##       ##     ## ##   ####  ##  ## ## ##
##       ##     ## ##    ##   ##  ##  ####
##       ##     ## ##    ##   ##  ##   ###
########  #######   ######   #### ##    ##
*/
body.login {
    color: $beige;
    background-color: $teal;

    @include linx(underline, $beige, $beige, $beige, $beige);

    .wrapper {
        padding: 8% 12%;

        .logo {
            width: 45vw;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            > * {
                margin-bottom: 15%;
            }

            input {
                width: 100%;

                &:not([type="submit"]) {
                    padding: 3% 0;
                    background-color: rgba(0,0,0,0);
                    border: none;
                    border-bottom: solid 1px $beige;
                    color: $beige;

                    &::-webkit-input-placeholder {
                        color: $beige;
                    }
                }

                &[type="submit"] {
                    padding: 3%;
                    color: $teal;
                    background-color: $beige;
                    border: none;
                    border-radius: 5px;
                }

                &:focus {
                    outline: none;
                }
            }

            a {
                align-self: flex-end;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                input {
                    margin-bottom: 6%;
                }
            }
        }

        footer {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
    }
}
